<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <section class="wrap-content">
        <p class="text-center empty-cart-p">
          Sorry, it seems the content you are looking for could not be found.
        </p>
        <div class="Aligner full-width-box">
          <button routerLink="/categories/books" class="cta cta-default" >
            <span class="glyphicon glyphicon-user"></span>
            Return to Shop
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
